name: 'Python: Build and Test'

on:
  push:
    tags:
      - python-*
  workflow_dispatch:
  pull_request:
    paths:
      - 'lace/**'
      - 'pylace/**'
      - 'book/**'
      - '.github/workflows/python-build-test.yaml'
      - '.github/scripts/run_code_in_mdfile.py'
      - '.github/scripts/find_compatible_wheel.py'

jobs:
  lint-python:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pylace

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install -p 3.12

      - name: Install Python dependencies
        run: uv sync --group lint

      - name: Check format (black)
        run: uv run black --check --diff .

      - name: Lint Check (ruff)
        run: uv run ruff --diff .

      - name: Check Minimum Supported Python Version (vermin)
        run: uv run vermin --target=3.10- --no-tips --violations .

  lint-rust:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pylace

    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: . -> pylace/target

      - name: Run rustfmt
        run: cargo fmt --all -- --check

      - name: Run clippy
        env:
          RUSTFLAGS: -C debuginfo=0  # Do not produce debug symbols to keep memory usage down
        run : |
          cargo clippy
      - name: Install audit
        run: cargo install cargo-audit
      - name: Run audit
        working-directory: lace
        # Note: Both `polars` and `arrow2` trigger this security violation
        #       due to their reliance on `chrono`, which is the ultimate source of the violation
        #       as of 2/21/23, no version of `chrono` has been published that fixes the issue
        #       and thus neither `polars` or `arrow2` can pass `audit` checks
        run: cargo audit -f Cargo.lock --ignore RUSTSEC-2020-0071

  linux:
    runs-on: ubuntu-latest
    needs: ["lint-python", "lint-rust"]
    strategy:
      matrix:
        target: [x86_64]
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - uses: actions/setup-python@v5
        with:
          python-version: |
            3.10
            3.11
            3.12

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          maturin-version: 1.5.1
          target: ${{ matrix.target }}
          args: --release --out dist -i python3.10 -i python3.11 -i python3.12 --manifest-path pylace/Cargo.toml
          manylinux: auto

      - name: Install dev dependencies
        run: |
          uv sync --group dev --no-install-project
        working-directory: pylace

      - name: Install pylace
        run: |
          WHEEL_FILE=$(uv run python3 .github/scripts/find_compatible_wheel.py pylace ./dist)
          echo "Installing $WHEEL_FILE"
          uv pip install $WHEEL_FILE
        working-directory: .

      - name: Run Tests
        run: uv run pytest pylace/tests

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-${{ matrix.target }}
          path: dist

  windows:
    runs-on: windows-latest
    needs: ["lint-python", "lint-rust"]
    strategy:
      matrix:
        target: [x64]
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - uses: actions/setup-python@v5
        with:
          python-version: |
            3.10
            3.11
            3.12
          architecture: ${{ matrix.target }}

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          maturin-version: 1.5.1
          target: ${{ matrix.target }}
          args: --release --out dist -i python3.10 -i python3.11 -i python3.12 --manifest-path pylace/Cargo.toml

      - name: Install dev dependencies
        run: |
          uv sync --group dev --no-install-project
        working-directory: pylace

      - name: Install pylace
        run: |
          $WHEEL_FILE = (uv run python .github/scripts/find_compatible_wheel.py pylace ./dist)
          echo "Installing $WHEEL_FILE"
          uv pip install $WHEEL_FILE

      - name: Run Tests
        run: uv run pytest pylace/tests

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-windows-${{ matrix.target }}
          path: dist

  macos:
    needs: ["lint-python", "lint-rust"]
    strategy:
      matrix:
        include:
          - os: macos-latest
            target: aarch64
          - os: macos-13
            target: x86_64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - uses: actions/setup-python@v5
        with:
          python-version: |
            3.10
            3.11
            3.12

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          maturin-version: 1.5.1
          target: ${{ matrix.target }}
          args: --release --out dist -i python3.10 -i python3.11 -i python3.12 --manifest-path pylace/Cargo.toml

      - name: Install dev dependencies
        run: |
          uv sync --group dev --no-install-project
        working-directory: pylace

      - name: Install pylace
        run: |
          WHEEL_FILE=$(uv run python .github/scripts/find_compatible_wheel.py pylace ./dist)
          echo "Installing $WHEEL_FILE"
          uv pip install $WHEEL_FILE

      - name: Run Tests
        run: uv run pytest pylace/tests

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-${{ matrix.target }}
          path: dist

  merge:
    runs-on: ubuntu-latest
    needs: [ macos, windows, linux ]
    steps:
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: wheels
          pattern: wheels-*

  test-mdbook-python:
    name: Test MDBook Python Snippets
    runs-on: ubuntu-latest
    needs: [merge]
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - uses: actions/download-artifact@v4
        with:
          name: wheels
          path: dist

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install codedown
        run: npm install -g codedown

      - name: Install Wheel
        run: |
          uv pip install packaging
          WHEEL_FILE=$(uv run python .github/scripts/find_compatible_wheel.py pylace ./dist)
          echo "Installing $WHEEL_FILE"
          uv pip install $WHEEL_FILE

      - name: Test MDBook Code Samples (Python)
        env:
          FORCE_COLOR: 1
        run: |
          uv pip install termcolor yq
          NEW_VERSION=$(uv run tomlq -r .package.version < pylace/Cargo.toml)
          uv run python .github/scripts/run_code_in_mdfile.py directory python book $NEW_VERSION --exclusion-file .github/resources/mdbook_exclusions.txt

  test-mdbook-build:
    name: Test MDBook Building
    runs-on: ubuntu-latest
    needs: [merge]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: . -> pylace/target

      - name: Install preprocessor
        working-directory: book/lace_preprocess_mdbook_yaml
        run: |
          cargo install --bins --locked --path .

      - name: Install mdBook
        run: |
          cargo install mdbook --version ^0.4

      - name: Configure the book in test mode and build
        working-directory: book
        run: |
          cat book.toml book.test.toml > book.toml.tmp
          mv book.toml.tmp book.toml
          mdbook build . -d ./html

  release:
    name: Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/python-')
    needs: [merge, test-mdbook-python, test-mdbook-build]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Check Branch
        env:
          NEW_VERSION: ${{github.ref_name}}
        run: |
          git fetch origin master
          git tag --merged origin/master | grep $NEW_VERSION
      - name: Check Semver
        working-directory: pylace
        env:
          NEW_VERSION: ${{github.ref_name}}
        run: |
          uv pip install yq
          DEPLOYING_VERSION=$(echo "$NEW_VERSION" | perl -lpe 's/^python-//')
          find . -name Cargo.toml -exec uv run tomlq -r .package.version {} \; | xargs -n 1 test "$DEPLOYING_VERSION" =
          find . -name pyproject.toml   -exec uv run tomlq -r .project.version {} \; | xargs -n 1 test "$DEPLOYING_VERSION" =
      - uses: actions/download-artifact@v4
        id: download-wheels
        with:
          name: wheels
          path: wheels
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1.40.2
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          working-directory: ${{steps.download-wheels.outputs.download-path}}
          command: upload
          args: --skip-existing *
